@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-no-repeat bg-gray-900 bg-top;

  background-image: url('/assets/bg-gradient.svg');
  -webkit-font-smoothing: antialised;
}

.swiper-item {
  @apply rounded-lg text-2xl font-bold text-white;

  display: flex;
  align-items: center;
  justify-content: center;
}